*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
  
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ff0099, #c757ff);
}
  
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  
/* '>' means direct child */
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #ffffffbf;
    /* border-radius: 10px; */
}

button.point {
    border-bottom-left-radius: 10px;
}
  
.calculator-grid > button:hover {
    background-color: #ffffffe6;
}
  
.span-two {
    grid-column: span 2;
}

.span-two.equals{
    border-bottom-right-radius: 10px;
}
  
.output {
    grid-column: 1 / -1;
    background-color: #6d2642bf;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
  
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.operator {
    color: #a21268;
}